
body{
    font-size:16px;
    font-family:  Arial, sans-serif;
    background-color: #FDEBAC;
}
.paragraph, .pomodoroList li{
    font-family:  Arial, sans-serif;
    font-size:1.2em;
}

tbody th{
font-size: 1.3em;
text-align: center;
border:1px solid black;
}
strong{
    font-weight:bold;
    text-decoration: underline;
    color:rgb(221, 121, 121);
}
tbody tr .selectedPomodoroName,
tbody tr .selectedPomodoroWorkTime,
tbody tr .selectedPomodoroRestTime,
tbody tr .selectedPomodoroCycle{
    font-size:1.3em;
    border:1px solid black;
}


#totalTime{
    font-size:3em;
}

#cycleTimer{
    font-size:8em;
}


.stepNumber{
    list-style-type: none;
    font-weight: bold;
    background-color: white;
}

#alert{
    display:none;
}

#personalizedForm{
    display:none;
}
.pomodoroList li{
list-style-type: none;
}
#redirectionNewPomodoro{
    display: none;
}
@media (max-width:1000px) {
    body{
        font-size: 10px;
    }
    .paragraph{

        font-size:2.1em;
    }
    .pomodoroList li{
        font-size:1.4em;
        
    }
    #pomodoroExplaination{
        font-size:2.1em;
    }
    .stepNumber{
        list-style-type: none;
        font-weight: bold;
        font-size:2em;
    }
    .pictures{
        display:none;
    }
}